{% extends 'courses_app/main.html' %}
{% load static %}
{% block title %}Контакты{% endblock %}

{% block content %}
<section class="contact-main" style="margin-top:-50px;">

    <!--Основной блок-->
    <div class="contacts_main_top">
        <div style="display:flex; align-items: center; margin-left:-30px;">
            <div>
                <img src="{% static 'images/post.png' %}" alt="Логотип" style="width: 120px; margin-right:20px; margin-top:-30px;">
            </div>

            <div>
                <p class="contacts_width_text"><b style="font-size:35px;">КОНТАКТНАЯ ИНФОРМАЦИЯ</b></p>
            </div>
        </div>
        <p class="contacts_width_text" style="font-size:20px;"><b style="color:#3e63f4">АДРЕС:</b> Москва, 2-ой Рощинский проезд, д.8, стр. 7 офис 919;
            Индекс: 115419;</p>
        <p style="font-size:20px; width:500px;"><b style="color:#3e63f4">ЧАСЫ РАБОТЫ:</b> Пн–Пт: 9:00 – 17:00</p>
        <p style="font-size:20px; width:400px;"><b style="color:#3e63f4">ТЕЛЕФОН:</b> +7 (495) 633-11-12</p>
        <p style="font-size:20px; width:400px;"><b style="color:#3e63f4">EMAIL:</b> nmo@idopobr.ru</p>
        <p style="font-size:15px; width:400px;"> БЫСТРАЯ СВЯЗЬ С МЕНЕДЖЕРОМ</p>

        <br>
        <div>
            <a href="https://wa.me/79781636186" target="_blank" class="submit-button-reg">Whats
                App</a>
        </div>


    </div>

    <div class="map">
        <iframe src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=37.603011%2C55.706320&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjY4MDM3NRJD0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsIDIt0Lkg0KDQvtGJ0LjQvdGB0LrQuNC5INC_0YDQvtC10LfQtCwgOCIKDXxpFkIVRdNeQg%2C%2C&z=17.24"
                width="900" height="500" frameborder="0.5" allowfullscreen="true"
                style="position:relative; border-radius:25px;"></iframe>
    </div>


</section>


{% endblock %}

