{% extends 'courses_app/main.html' %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}

<!--Все блоки-->
<section class="course-det-main">

  <h1>{{ course.title }}</h1>
  <p>{{ course.description }}</p>

  <!-- Проверка доступа по паролю -->
  {% if password_valid and user.role == "student" or user.role == 'admin' %}
    <section class="topics">
      <h2>Темы курса:</h2>
      <h3>Теперь у вас есть доступ. Нажмите на тему, чтобы войти в нее</h3>
      <ol>
        {% for topic in course.topics.all %}
          <li>
            {% if topic.is_completed %}
              <strong><a href="{% url 'courses_app:topic_detail' course_id=course.id topic_id=topic.id %}">{{ topic.title }}</a></strong> (Завершено)
            {% else %}
              <a href="{% url 'courses_app:topic_detail' course_id=course.id topic_id=topic.id %}">{{ topic.title }}</a> (Не завершено)
            {% endif %}
          </li>
        {% empty %}
          <li>Нет доступных тем</li>
        {% endfor %}
      </ol>
        {% if course.id %}
            <h4>По завершению курса вы можете отправить нам контролью работу по ссылке:</h4>
            <a href="{% url 'courses_app:assignment_view' course_id=course.id %}">Перейти к заданию</a>
        {% else %}
            <p>Курс не найден.</p>
        {% endif %}    </section>
          {% else %}
    <!-- Если пароль неверный или пользователь не является студентом -->
    <section class="topics">
      <h2>Темы курса:</h2>
      <ol>
        {% for topic in course.topics.all %}
          <li>{{ topic.title }}</li>
        {% empty %}
          <li>Нет доступных тем</li>
        {% endfor %}
      </ol>
    </section>

    <!-- Форма для ввода пароля -->
    <section class="course-password-form">
      <h3>Введите пароль для доступа к курсу:</h3>
      <form method="post" style="display:flex;flex-direction: column;">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Выводим форму пароля -->
        <button type="submit" style="">Подтвердить</button>
      </form>
    </section>
  {% endif %}

</section>

{% endblock %}
