{% extends 'courses_app/main.html' %}
{% load static %}
{% block title %}Документы{% endblock %}

{% block content %}

<section class="doc-main">
    <p style="color:#3e63f4; font-size:40px;">ОБЩАЯ ИНФОРМАЦИЯ</p>
    <br>
    <br>
    <!--Первый блок-->
    <div class="doc-first">
        <div>
            <img src="{% static 'images/doc.png' %}" alt="Логотип"
                 style="border-radius: 25px; width:300px; box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2); ">
        </div>

        <div style="border-radius:25px; width: 750px; height: 300px;">
            <p class="document_h1"><b>ПЕРЕЧЕНЬ ДОКУМЕНТОВ ДЛЯ
                ЗАЧИСЛЕНИЯ</b></p>
            <ul class="document_list">
                <li style="margin-bottom:15px;">Копия документа о высшем или среднем профессиональном образовании</li>
                <li style="margin-bottom:15px;">Копия документа о дополнительном профессиональном образовании <span
                        style="font-size:12px; color:#3e63f4;">(при наличии)</span></li>
                <li style="margin-bottom:15px;">Копия документа об изменении ФИО <span
                        style="font-size:12px; color:#3e63f4;">(при необходимости)</span></li>
                <li style="margin-bottom:15px;">Копия паспорта <span style="font-size:12px; color:#3e63f4;">(с пропиской)</span>
                </li>
                <li>Копия СНИЛС</li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>


    <!--Третий блок-->
    <div class="doc-first">
        <div>
            <img src="{% static 'images/pay.png' %}" alt="Логотип"
                 style="border-radius: 25px; width:300px; box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2); ">
        </div>
        <div style="border-radius:25px; width: 750px; height: 300px; margin-bottom: 50px;">
            <p class="document_h1"><b>СПОСОБЫ ОПЛАТЫ</b></p>
            <ul class="document_list">
                <li style="margin-bottom:15px;">Платежные реквизиты <span
                        style="font-size:12px; color:#3e63f4;">(Если Вам удобнее производить оплату по безналичному расчету)</span>
                </li>
                <li style="margin-bottom:15px;">Платежные реквизиты через «Сбербанк России»</li>
                <li style="margin-bottom:15px;">Перевод на счёт через Сбербанк Онлайн</li>
                <li style="margin-bottom:15px;">Перевод в мобильной версии Сбербанк Онлайн</li>
                <li style="margin-bottom:15px;">Квитанция <span
                        style="font-size:12px; color:#3e63f4;">по расчетному счету (в банке или на почте) на бумажном носителе</span>
                </li>
            </ul>
        </div>
    </div>


    <!--Второй блок-->
    <div class="doc-first">
        <div>
            <img src="{% static 'images/dip.png' %}" alt="Логотип"
                 style="border-radius: 25px; width:300px; margin-top:-20px; margin-bottom: -50px;">
        </div>

        <div style="border-radius:25px; width: 750px; height: 300px; margin-bottom: 50px;">
            <p class="document_h1"><b style="font-size:20px;">ОБРАЗЦЫ ВЫДАВАЕМЫХ ДОКУМЕНТОВ</b></p>
            <ul class="document_list">
                <li style="margin-bottom:15px;">Это образцы дипломов, выдаваемые после успешного завершения курса</li>
                <li style="margin-bottom:15px;">Вы получите официальный документ государственного образца</li>
                <li style="margin-bottom:15px;">Ваши достижения будут подтверждены документами, аналогичными этим</li>
                <li style="margin-bottom:15px;">Это документы, подтверждают прохождение вами курса</li>
            </ul>
        </div>


    </div>


</section>
{% endblock %}

{% block footer %}
<!-- Оставляем этот блок пустым, чтобы не отображался footer -->
{% endblock %}
