{% extends 'courses_app/main.html' %}
{% load static %}

{% block content %}

<section class="main_section_place">
    <section class="main-sector">
        <div class="main-sector-text">
            <p style="font-size:85px; margin-bottom: -35px; color: #000000"><b>Развивайте навыки</b></p>
            <p style="font-size:40px; margin-bottom: -5px; color: #000000; " ><b>Создай будущее для своей карьеры</b></p>
            <p style="font-size:22px;  max-width: 700px;">Начните, измените или продвигайте свою карьеру с нашими курсами, профессиональными сертификатами и дипломами от мировых экспертов и преподавателей!</p>
        </div>

        <div>
            <img src="{% static 'images/reiting.png' %}" alt="Логотип" style="width: 250px; height: auto; margin:20px; margin-top:1px; margin-bottom: 20px;">
        </div>

        <div>
            {% if request.path == '/' %}
                <a href="{% url 'courses_app:all_courses' %}" class="auth-button-catalog">Каталог курсов</a>
            {% endif %}
        </div>
    </section>

    <section style="margin-bottom:50px; position: relative;top: 100px;">
        <img src="{% static 'images/dev.png' %}" alt="Логотип" style="width: 550px; height: auto; ">
    </section>
</section>



{% endblock %}
