{% extends 'courses_app/main.html' %}
{% load static %}

{% block content %}


<section class="profile-main-page">

    <div style="display:flex; padding-bottom: 25px; padding-top: 25px;">
        <img src="{% static 'images/line-1.png' %}" alt="Логотип"
             style="border-radius: 25px; width:950px; padding-top: 25px; ">
    </div>


    <section style="display:flex; gap:25px; padding-bottom: 25px;">
        <div class="profile-first">
            <div>
                <p><span class="profile-label">Логин:</span> <span class="profile-value">{{ user.username }}</span></p>
            </div>
        </div>
        <div class="profile-first">
            <div>
                <p><span class="profile-label">Email:</span> <span class="profile-value">{{ user.email }}</span></p>
            </div>
        </div>
        <div class="profile-first">
            <div>
                <p><span class="profile-label">Роль:</span> <span
                        class="profile-value">{{ user.get_role_display }}</span></p>
            </div>
        </div>
    </section>


    <section style="display:flex; gap:25px; padding-bottom: 25px;">
        <div class="profile-first">
            <div>
                <p><span class="profile-label">Имя:</span> <span class="profile-value">{{ user.first_name }}</span></p>
            </div>
        </div>
        <div class="profile-first">
            <div>
                <p><span class="profile-label">Фамилия:</span> <span class="profile-value">{{ user.last_name }}</span>
                </p>
            </div>
        </div>
    </section>


    <section>
        <form method="get" action="{% url 'courses_app:update_profile' %}">
            <button
                    type="submit"
                    class="submit-button"
                    style="font-size: 16px; max-width: 700px;  background: #004466;"
                    onmouseover="this.style.background='#002335'"
                    onmouseout="this.style.background='#004466'">
                Редактировать профиль
            </button>
        </form>
    </section>


    <section style="display: flex; gap: 75px; padding-top:25px;">
        <div>
            <h2 style="font-size: 25px;">ДОСТУПНЫЕ КУРСЫ</h2>
            <ul style="display: flex; gap: 75px; padding-top:25px;s">
                {% for course in courses %}
                <li style="min-width: 30px; ">
                    <b> <a href="{% url 'courses_app:course_detail' course.id %}" class="color_link"
                           style="white-space: nowrap; font-size:15px; color: #4c63f0;">{{ course.title }}</a></b>
                </li>
                {% empty %}
                <li>Нет доступных курсов.</li>
                {% endfor %}
            </ul>
        </div>
    </section>


</section>


{% endblock %}
