{% extends 'courses_app/main.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <h1>Страница регистрации</h1>

    <form method="post">
    {% csrf_token %}

    <!-- Поле для имени пользователя -->
    <div class="form-group">
        <label for="id_username">Имя пользователя:</label>
        {{ form.username }}
        {% if form.username.help_text %}
            <small class="form-text text-muted">{{ form.username.help_text }}</small>
        {% endif %}
    </div>

    <!-- Поле для имени -->
    <div class="form-group">
        <label for="id_first_name">Имя:</label>
        {{ form.first_name }}
        {% if form.first_name.help_text %}
            <small class="form-text text-muted">{{ form.first_name.help_text }}</small>
        {% endif %}
    </div>

    <!-- Поле для фамилии -->
    <div class="form-group">
        <label for="id_last_name">Фамилия:</label>
        {{ form.last_name }}
        {% if form.last_name.help_text %}
            <small class="form-text text-muted">{{ form.last_name.help_text }}</small>
        {% endif %}
    </div>

    <!-- Поле для email -->
    <div class="form-group">
        <label for="id_email">Email:</label>
        {{ form.email }}
        {% if form.email.help_text %}
            <small class="form-text text-muted">{{ form.email.help_text }}</small>
        {% endif %}
    </div>

    <!-- Поля для пароля -->
    <div class="form-group">
        <label for="id_password1">Пароль:</label>
        {{ form.password1 }}
        {% if form.password1.help_text %}
            <small class="form-text text-muted">{{ form.password1.help_text }}</small>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="id_password2">Подтверждение пароля:</label>
        {{ form.password2 }}
        {% if form.password2.help_text %}
            <small class="form-text text-muted">{{ form.password2.help_text }}</small>
        {% endif %}
    </div>

    <!-- Кнопка для отправки -->
    <button type="submit" class="btn btn-primary">Обновить</button>
</form>


    <p>Уже есть аккаунт? <a href="{% url 'courses_app:login' %}">Войти</a></p>
{% endblock %}