{% extends 'courses_app/main.html' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}


<!--Все блоки-->
<section class="course-det-main">
    <div style="display: flex; flex-direction:column; align-items: center; margin-top:25px;">
        <p style="font-size:35px; margin-bottom:-25px;">{{ topic.title|upper }}</p>
    </div>

    <p style="display:block; text-align: center; width:750px; margin-bottom:25px;">{{ topic.description|safe }}</p>


    <div class="navigation">
        {% if previous_topic %}
        <a href="{% url 'courses_app:topic_detail' course.id previous_topic.id %}" class="submit-button-cur-det">←
            Предыдущая тема</a>
        {% endif %}

        {% if next_topic %}
        <a href="{% url 'courses_app:topic_detail' course.id next_topic.id %}" class="submit-button-cur-det"
           style="margin-bottom:125px; ">Следующая тема
            →</a>
        {% endif %}
    </div>


    <div style="margin-top:25px; margin-bottom:125px;">
        <a href="{% url 'courses_app:course_detail' course.id %}" class="submit-button-cur-det"
           style="background:#444444; transition: background-color 0.3s;"
           onmouseover="this.style.backgroundColor='#6d6d6d'" onmouseout="this.style.backgroundColor='#444444'">Вернуться
            на курс</a>
    </div>
</section>

{% endblock %}

{% block footer %}
<!-- Оставляем этот блок пустым, чтобы не отображался footer -->
{% endblock %}