{% extends 'courses_app/main.html' %}

{% block content %}

<p style="color: #4c63f0; display: flex; justify-content: center;  font-size:30px;"><b>Обновление профиля</b></p>
<p style=" display: flex; justify-content: center;margin-top:-15px;"><i>(для редактирования нажмите на поле)</i></p>

<section class="main-update-prof">
    <form method="post">
        {% csrf_token %}

        <!-- Контейнер для двух колонок -->
        <div class="form-columns">
            <!-- Первая колонка -->
            <div class="form-column">
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    {{ form.city.label_tag }}
                    {{ form.city }}
                </div>
            </div>

            <!-- Вторая колонка -->
            <div class="form-column">
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    {{ form.address.label_tag }}
                    {{ form.address }}
                </div>
            </div>

            <!-- Третья колонка -->
            <div class="form-column">
                <div class="form-group">
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                </div>
                <div class="form-group">
                    {{ form.mid_name.label_tag }}
                    {{ form.mid_name }}
                </div>
                <div class="form-group">
                    {{ form.index.label_tag }}
                    {{ form.index }}
                </div>
            </div>
        </div>

        <!-- Кнопка для отправки -->
        <div class="form-buttons">
            <button type="submit" class="submit-button" style="display: block; width: 25%;  background-color: #3e63f4; color: #fff;
    border: none; border-radius: 3px; cursor: pointer; font-size: 16px; margin-bottom: 15px;">Обновить</button>
            <a href="{% url 'courses_app:profile' %}" class="color_link">Назад в профиль</a>
        </div>
    </form>
</section>

{% endblock %}
