{% extends 'courses_app/index.html' %}

{% block title %}Контрольная работа{% endblock %}

{% block content %}
    <h1>Контрольная работа для курса: {{ course.title }}</h1>
    <h4>Пришлите ссылку на файл с вашим проектом</h4>
    <form method="post">
        {% csrf_token %}
        <label for="assignment_url">Ссылка на тестовое задание:</label>
        <input type="url" name="assignment_url" id="assignment_url" maxlength="500" required>
        <button type="submit">Отправить</button>
    </form>
{% endblock %}
